@model CoreBB.Web.Models.Topic
@{
    ViewBag.Title = "Reply Topic";
    ViewData["Mode"] = "Reply";
    ViewData["Reply"] = $"Reply to topic: {Model.ReplyToTopic.Title}";
    ViewData["SubmitButtonText"] = "Reply";
}
    
<form asp-action="Reply" method="post">
    <input type="hidden" asp-for="ForumId" />
    <input type="hidden" asp-for="RootTopicId" />
    <input type="hidden" asp-for="ReplyToTopicId" />
    @await Html.PartialAsync("_TopicEditing", Model)
</form>

