@model IEnumerable<CoreBB.Web.Models.Message>

@{
    ViewBag.Title = $"Message";
}

<div class="container" style="margin-top:120px">
    <table class="table table-borderless">
        @foreach (var m in Model)
        {
            if (m.FromUser.Name == User.Identity.Name)
            {
                <tr>
                    <td style="width:500px"></td>
                    <td>
                        @await Html.PartialAsync("_MessageLayout", m)
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @await Html.PartialAsync("_MessageLayout", m)
                    </td>
                    <td style="width:500px"></td>
                </tr>
            }
        }
    </table>
</div>