@model CoreBB.Web.Models.Forum
@{
    ViewBag.Title = "Delete Forum";
    ViewData["Mode"] = "ConfirmingDelete";
}

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_ForumDetail", Model);
</form>